<div
        id="<?= $this->getId() ?>"
        data-control="multilingual"
        data-default-locale="<?= $defaultLocale->code ?>"
        data-placeholder-field="#<?= $field->getId('placeholderField') ?>"
        class="field-multilingual field-multilingual-textarea dropdown">

        <div data-control="wysiwyg">
            <textarea
                name="<?= $field->getName() ?>"
                id="<?= $field->getId('placeholderField') ?>"
                value="<?= e($field->value) ?>"
                placeholder="<?= e(trans($field->placeholder)) ?>"
                class="form-control field-textarea size-<?= $field->size ?>"
                autocomplete="off"
                <?= HTML::attributes($field->attributes) ?>></textarea>
        </div>

        <button
            class="btn btn-default"
            data-toggle="dropdown"
            data-active-locale
            type="button">
        </button>

        <?= $this->makeParentPartial('locale_values') ?>

        <?= $this->makeParentPartial('locale_selector') ?>

    </div>

<script type="text/javascript">
var roxyFileman = '<?php echo URL::to('ckeditorupload') ?>';
UPLOADCARE_PUBLIC_KEY = "<?php echo $up_public; ?>"; // set public key for Uploadcare

$(document).ready(function() {
    $('[data-control="wysiwyg"] textarea').ckeditor({
        skin: 'october',
        extraPlugins: 'uploadcare',
        filebrowserBrowseUrl: '<?php echo URL::to('elfinder/ckeditor4'); ?>',
        on: {
            key: function() {
                this.updateElement();
                $(this.element.$).trigger('keyup');
            }
        }
    });
});
</script>
